<div class="col-sm-6">
         <div class="form-group row">
        <%= f.label : , class: "col-sm-4"%>
        <%= f._field : , class: "col-sm-8"%>
        </div>
        <div class="form-group row">
          <%= f.label :商品説明, class: "col-sm-4" %>
          <%= f.text_area :explanation, class: "form-control col-sm-8" %>
        </div>