<tbody>
  <div class="container">
    <div style="width: auto; height: auto;">
        <div class="mx-auto" style="margin: 90px; width: 400px;">
            <div class="mx-auto" style="margin: 10px; padding: 40px;">
            <h1 class="display-1 font-weight-bold">About</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  <p class="text-center">ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  様々なバリエーションをご用意しております。<br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  ぜひご注文ください。</p>
</tbody>